* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

.puzzle-game {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
}

.right-pane {
	background: #D2E9EE;
	display: flex;
	align-items: center;
	justify-content: center;
}

.puzzle-source {
	position: relative;
	z-index: 10;
}

.puzzle-source .puzzle-item {
	display: inline-block;
}

.puzzle-result {
	display: grid;
}

.puzzle-item {
	background: url(image.png);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.puzzle-cell {
	border: solid 1px gray;
	background-color: white;
}
