@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
  font-family: Roboto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: flex-start;
	flex-direction: row;
}
.first_elem{
  display:flex;
  margin-top: 10px;
}
.sec_elem{
  display:flex;
  margin-left: 40px;
  width: 300px;
  height: 400px;
  /* justify-content:center; */
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin-top: 10px;
}
.title{
  display: flex;
  align-items: center;
}
.rules{
  display: flex;
  margin-top: 10px;
}
.control{
  display: flex;
  margin-top: 10px;
}
.mw {
    display: grid;
    grid-template-columns: repeat(12, 44px);
    grid-gap: 6px;
    color: #707070;
    font-size: 20px;
    font-weight: bold;
}

.mw-cell {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border: solid 1px #707070;
    background: #BBBBBB;
    cursor: pointer;
}

.mw-cell--open {
    background: white;
    cursor: default;
}

.mw-cell--mark, .mw-cell--question-mark {
    background: white;
}
.mw-cell--mark:before {
    content: "";
    width: 32px;
    height: 32px;
    background: url('images/flag.png');

}

.mw-cell--bomb {
    background: #c42828;
}

.mw-cell--bomb:before {
  content: "";
  width: 32px;
  height: 32px;
  background: url('images/bomb.png');

}

.mw-cell--focus {
    outline: solid 2px #04BEEE80;
}
