body{
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: row;
	height: auto;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background: url("images/background.png");
	font-family: 'Roboto';
	font-weight: normal;
}
input{
	margin: 0;
}
input[type=radio]{
	display: none;
	color: #202020;
}
label{
	display: flex;
	justify-content:center;
	color: #707070;
}
button{
	border: 0;
}
h2{
	font-weight: bold;
	color: #707070;
	margin-top: 32px;
	margin-bottom: 32px;
}
form{
  display:flex;
  flex-direction: column;
}
.card-form{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 570px;
	height: 800px;
	background: #FFFFFF;
	padding-left: 15px;
	padding-right: 15px;
	box-shadow: 0px 0px 6px #00000029;
}
.content{
	margin-bottom: 14px;
}
.form_label{
	display: block;
	color: #707070;
	margin-bottom: 4px;
	font: normal normal normal 14px/17px Roboto;
}
.form_control{
	box-sizing: border-box;
	width: 255px;
	height: 24px;
	padding: 4px;
	margin-right: 30px;
	border: 1px solid #AAAAAABF;
	border-radius: 2px;
	color: #202020;
	font: normal normal normal 14px/17px Roboto;
}
.radio_and_checkbox_block{
	display: flex;
	flex-direction: row;
	align-items: center;
	font: normal normal normal 12px/14px Roboto;
}
.input_style{
	box-sizing: border-box;
	border: 1px solid #AAAAAABF;
	border-radius: 2px;
	display: flex;
	flex-direction: row;
	margin-right: 12px;
	height: 24px;
	align-items: center;
}
.orientation label{
	box-sizing: border-box;
	height: 24px;
	width: 32px;
	background-repeat: no-repeat;
	background-position: center;
}
.input_style label{
	color: #202020;
	padding: 6px 6px 4px 4px;
	cursor: pointer;
	align-items: center;
}
.input_style input[type=radio]:checked+label{
	background-color: #D9D9D9;
}
.color{
	margin-top: 10px;
}
.color label{
	box-sizing: border-box;
	height: 24px;
	width: 24px;
	background-color: white;
	border-style: solid;
	border-width: 12px;
	border-radius: 50%;
	margin-right: 5px;
}
.color input[type=radio]:checked+label{
	background-color: white;
	border-width: 7px;
}
#second_phone_field{
	display: none;
	width: 225px;
	margin-right: 10px;
}
#check_phone + label::before {
	background-color: white;
	background-size: 100%;
	background-image: url("images/Group416.svg");
}
#check_phone:checked+label::before {
	background-image: url("images/Group384.svg");
}
#check_phone:checked+#second_phone_field{
	display: block;
}
#phone_block{
	margin-top: 14px;
}
.checkbox{
	padding: 0;
	position: absolute;
	z-index: -1;
	margin: 0
}
.checkbox + label::before{
	box-sizing: border-box;
	margin-right: 5px;
	content: '';
	justify-content: center;
	width: 17px;
	height: 17px;
	background: #707070 0% 0% no-repeat padding-box;
	border-radius: 3px;
	background-size: 70%;
	background-position: center;
}
.checkbox:checked+label::before{
	background-color: #707070;
	background-image: url("images/check.png");
	background-size: 70%;
}
.button{
	font: normal normal normal 14px/17px Roboto;
	color: white;
	width: 126px;
	height: 32px;
	background: #3F88E8;
	border-radius: 32px;
}
.card-preview{
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	width: 445px;
	height: 268px;
	padding: 22px;
	margin-top: 78px;
	margin-left: 65px;
	background: #FFFFFF;
	box-shadow: 0px 6px 12px #00000029;
	border: 1px solid #707070A8;
	border-radius: 6px;
	color: #202020;
	font-family: 'Roboto';
}
.card__organization{
	text-align: center;
	font-size: 10px;
	margin-bottom: 32px;
	font: normal normal normal 10px/13px Roboto;
}
.card__fio{
	box-sizing: border-box;
	font-family: Roboto;
	margin-bottom: 8px;
}
.card__position{
	margin-bottom: 20px;
}
.card__email, .card__address, .card__contacts, .card___spare_contacts{
	padding-left: 50%;
	font-size: 12px;
	margin-bottom: 10px;
}
